{% extends "base.html" %}

{% block content %}
<div>
<h1>Добавить артиста</h1>
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control", type="name") }}<br>
        {% for error in form.name.errors %}
            <p class="danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.file.label }}<br>
        {{ form.file(class="form-control", type="file") }}<br>
        {% for error in form.file.errors %}
            <p class="danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary red") }}</p>
    {{message}}
</form>
<script lang="Javascript">
    var app = new Vue({
      el: '#app',
      data: {
        req: ''
      },
    })
  </script>
</div>
{% endblock %}