{% extends "base.html" %} {% block content %}
<div>
  <b-form @submit="onSubmit_artist" @reset="onReset">
    <div class="b-form-group"><b-form-group
      id="input-group-1"
      label="Имя:"
      label-for="input-1"
    >
      <b-form-input
        id="input-1"
        v-model="name"
        type="text"
        placeholder="Введите имя артиста"
        required
      ></b-form-input>
    </b-form-group>
  </div>
  <div class="b-form-group"><b-form-group id="input-group-4" label="Загрузите фото размером 300X300:" label-for="input-5">
  <b-form-file
      accept="image/*"
      id="input-5"
      v-model="file"
      :state="Boolean(file)"
      placeholder="Выберите файл или переместите его сюда.."
      drop-placeholder="Переместите файл сюда..."
      browse-text="Выбрать"
    ></b-form-file></b-form-group>
  </div>
    <b-button type="submit" variant="danger">Добавить</b-button>
    <b-button type="reset" variant="danger">Сброс</b-button>
    <script lang="Javascript">
      var app = new Vue({
        el: '#app',
        data: {
          name: "",
          file: null
        },
        methods: {
          onSubmit_artist(event){
            {}
          },
          onReset(event) {
            event.preventDefault()
            this.file = null
            this.name = ''
            this.show = false
            this.$nextTick(() => {
              this.show = true
            })
          }
        },
      })
    </script>
</div>
{% endblock %}
