{% extends "base.html" %}

{% block content %}
<div>
<h1>Настройки пользователя {{nic}}</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.surname.label }}<br>
        {{ form.surname(class="form-control") }}<br>
        {% for error in form.surname.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.nic.label }}<br>
        {{ form.nic(class="form-control") }}<br>
        {% for error in form.nic.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.email.label }}<br>
        {{ form.email(class="form-control") }}<br>
        {% for error in form.email.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control") }}<br>
        {% for error in form.password.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.password_again.label }}<br>
        {{ form.password_again(class="form-control") }}<br>
        {% for error in form.password_again.errors %}
            <p content="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
<script lang="Javascript">
    var app = new Vue({
      el: '#app',
      data: {
        name: '',
        surname: '',
        nic: '',
          password: '',
          passwordagain: '',
        email: "",
        file: null,
          req: '',
      },
    })
  </script>
</div>
{% endblock %}